@import '../../../styles/globals.scss';

.block {
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   border-radius: 10px;
}

.svg {
   stroke: #A294E1;
   stroke-width: 1px;
   stroke-linecap: "round";
}

@keyframes glowingDiv {
   0% {
      background-color: $dark;
   }

   50% {
      background-color: rgba($color: #2F2F3E, $alpha: .3);
   }

   100% {
      background-color: $dark;
   }
}

@keyframes glowing {
   0% {
      stroke: rgba($color: #A294E1, $alpha: .1);
      stroke-width: 1;
   }

   50% {
      stroke: rgba($color: #A294E1, $alpha: .5);
      stroke-width: 3;

   }

   100% {
      stroke: rgba($color: #A294E1, $alpha: .1);
      stroke-width: 1;

   }
}

.svg {
   animation: glowing 2000ms linear infinite;
}

.block {
   animation: glowingDiv 2000ms linear infinite;

}

.text {
   width: min-content;
   font-size: inherit;
   padding: 0 .3em;
   border-radius: .3em;
   background-color: $supText;
   color: $supText;
   opacity: .5;
}

.border {
   border-radius: 2em;
   padding: .4em .8em;
   font-size: inherit;
   width: auto;
   height: auto;
   background-color: $supText;
   opacity: .5;
   display: flex;
   justify-content: center;
   align-items: center;

   &__text {
      background-color: #3C444D;
      color: #3C444D;
      opacity: .5;
      padding: 0;
      margin: 0;
      border-radius: .3em;
   }
}

@keyframes glowingText {
   0% {
      background-color: #5C5C5C;
      color: #5C5C5C;
      opacity: .7;
   }

   50% {
      background-color: #626465;
      color: #626465;
      opacity: .2;
   }

   100% {
      background-color: #5C5C5C;
      color: #5C5C5C;
      opacity: .7;
   }
}

.text {
   //animation: glowingText 2000ms linear infinite;

}