@import './globals.scss';

.select_black,
.select_orange,
.select_blue,
.select_brown,
.select_green {
   border: 0 !important;
   border-radius: 1em !important;
   font-size: 2em !important;

   &__control,
   &__menu {
      background-color: $black  !important;
      color: #fff !important;
      border: 0 !important;
      box-shadow: none !important;
      border-radius: 1em !important;
   }

   &__value-container {
      cursor: text;
      background-color: $black  !important;
   }

   &__input {
      color: #fff !important;
   }

   &__single-value {
      color: #fff !important;
   }

   &__indicator-separator {
      display: none !important;
   }

   &__indicators {
      cursor: pointer !important;

      &__indicator {
         background-color: $borderLight  !important;

         &:hover {
            background-color: $supText  !important;
         }
      }
   }

   &__menu {
      overflow: hidden;
   }

   &__option {
      cursor: pointer !important;
   }

   &__option--is-selected {
      background-color: $black  !important;
      color: $red  !important;
   }

   &__option--is-focused {
      background-color: #17171F !important;
   }
}



.select_blue {

   &__control,
   &__menu {
      background-color: #2F80ED !important;
      color: #B5D5FF !important;
   }

   &__value-container {
      cursor: text;
      background-color: #2F80ED !important;
   }

   &__input {
      color: #B5D5FF !important;
   }

   &__single-value {
      color: #B5D5FF !important;
   }

   &__option {
      color: #B5D5FF !important;
   }

   &__option--is-selected {
      font-weight: 700;
      background-color: #2F80ED !important;
      color: $red  !important;
   }

   &__option--is-focused {
      background-color: #2A79C7 !important;
   }

}

.select_brown {

   &__control,
   &__menu {
      background-color: $brown  !important;
      color: $borderLight  !important;
   }

   &__value-container {
      cursor: text;
      background-color: $brown  !important;
   }

   &__input {
      color: $borderLight  !important;
   }

   &__single-value {
      color: $borderLight  !important;
   }

   &__option--is-selected {
      font-weight: 700;
      background-color: $brown  !important;
      color: $black  !important;
   }

   &__option--is-focused {
      background-color: $brownLite  !important;
   }

}

.select_green {

   &__control,
   &__menu {
      background-color: $darkGreen  !important;
      color: $green  !important;
   }

   &__value-container {
      cursor: text;
      background-color: $darkGreen  !important;
   }

   &__input {
      color: $green  !important;
   }

   &__single-value {
      color: $green  !important;
   }

   &__option--is-selected {
      font-weight: 700;
      background-color: $darkGreen  !important;
      color: $black  !important;
   }

   &__option--is-focused {
      background-color: $blackGreen  !important;
   }

}