@import '../../../../assets/styles/globals.scss';

.container {
   max-width: 540px;
   height: 100%;
}

.Upper {
   display: flex;
   align-items: center;
   font-size: 1.2em;
   text-transform: uppercase;
}

.coin {
   display: flex;
   align-items: center;
   color: $supText ;
   font-size: 14px;
}

.percent {
   display: flex;
   align-items: center;
}

.price {
   display: flex;
   align-items: center;
   font-size: 12px;

   span {
      margin-left: 5px;
      text-transform: uppercase;
   }
}

.unList {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 13px;
}