.wallets {
   overflow-x: hidden;
   overflow-y: auto;
   grid-row: 1/6;
   grid-column: 1/2;

   &::-webkit-scrollbar {
      width: 0;
      height: 0;
   }

   &__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(1, 1fr);
      gap: 1em;
   }

   &__item {}

}