@import '../../../../assets/styles/globals.scss';

.main {
   width: 400px;
}

.head {
   width: 100%;
   padding-bottom: 2em;
   display: flex;
   justify-content: center;
   align-items: center;

   &__label {
      font-size: 20px;
      font-weight: 600;
   }
}

.form {

   margin-bottom: 3em;

   &__item,
   &__item_flex {
      margin-bottom: 1em;
   }

   &__item_flex {
      display: grid;
      grid-template-columns: 1fr 1em 1fr;
      grid-template-rows: 1fr;

   }
}

.supp {
   display: flex;
   justify-content: center;
   margin-bottom: 2em;

   &:last-child {
      margin-bottom: 0;
   }

   a {
      font-size: 1.5em;
   }

   &__link {
      color: $btnBlue;
      text-decoration: underline;
   }
}

@media screen and (max-width:461px) {
   .main {
      width: 270px;
   }
}