@import '../../../../../assets/styles/globals.scss';

.more {
   cursor: pointer;
   width: 35px;
   height: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: inherit;
   border: 1px solid rgba($color: #7F8A9B, $alpha: .4);
   border-radius: 7px;
}

.img {
   display: flex;
   justify-content: center;
   width: auto;
   height: 15px;
   transform: rotate(90deg);
}