@import '../../../assets/styles/globals.scss';

.message {
   width: 100%;
   height: auto;
   font-size: 14px;
   padding: 20px 30px;
   margin-bottom: 1em;
   border-radius: 1.5em;
   background-color: $darkGreen;
}

.error {
   width: 100%;
   height: auto;
   font-size: 14px;
   padding: 10px 20px;
   margin-bottom: 1em;
   border-radius: 1em;
   background-color: $red;

   &__img {
      margin-right: 5px;
   }

   &__block {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
   }

   img {
      margin-right: 1em;
   }
}

// Transition group CSS
.alert {
   list-style-type: none;
}

.alert-enter {
   opacity: 0;
}

.alert-enter-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}

.alert-exit {
   opacity: 1;
}

.alert-exit-active {
   opacity: 0;
   transition: opacity 500ms ease-in;
}

@media screen and (max-width:768px) {

   .message,
   .error {
      width: 80vw;
   }
}