@import '../../../styles/globals.scss';

.block {
   width: 313px;
   height: 100%;
   padding: 20px;
}

.head {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;

   &__label {
      display: flex;
      align-items: center;
   }

   &__name {
      font-size: 16px;
      font-weight: 500;
   }

   &__img {
      width: 45px;
      height: 45px;
      margin-right: 10px;
   }

   &__view {
      display: flex;
      align-items: center;

      img {
         width: 30px;
         height: 30px;
      }
   }
}

.main {
   margin-bottom: 20px;
   padding: 0;
   font-size: 25px;
   font-weight: 500;
   width: 100%;
}

.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__label {
      color: $supText;
   }

   &__profit {
      display: flex;
   }
}